# Q.1. What are keywords in python? Using the keyword library, print all the python keywords.

In Python, keywords are reserved words that have special functionalities within the language. These keywords cannot be used as variable names or any other identifiers because they are predefined attributes and have specific purposes in Python.

In [1]:
import keyword

all_python_keywords = keyword.kwlist
print(all_python_keywords)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# Q.2. What are the rules to create variables in python?

Variable names in Python can consist of all alphabetical letters, digits, and underscores (_). They must start with a letter or an underscore. Python is case-sensitive, so variables like "Variable" and "variable" are considered different.

We cannot use Python keywords, such as "if," "while," "for," etc. as variable names since they have predefined and reserved.

Variable names should not contain spaces or special characters like !, @, #, $, %, etc. However, underscores (_) are allowed to separate words in a variable name.

We should choose variable names that are meaningful, so that the purpose of the variable is clear to all who may read the code. This helps with code readability and maintainability.

Variable names should not start with a digit. They can have digits after the first character.

# Q.3. What are the standards and conventions followed for the nomenclature of variables in python to improve code readability and maintainability?

We should use lowercase letters for variable names. If a variable name contains multiple words, separate them with underscores. For variables that are meant to be constants, we should use uppercase letters with underscores separating words.

We should also use descriptive names for variables instead. This helps in understanding the purpose and context of the variable
Example, use count instead of c and name instead of n

Choose variable names that are meaningful and describe the purpose of the variable. For example, we can use names like num_students or customer_address.

We should be avoid using names that can be easily confused. For example, using list as a variable name can lead to confusion with the built-in list type.

If working on an already created project that has established naming conventions, we should follow those conventions to maintain consistency.

# Q.4. What will happen if a keyword is used as a variable name?

If a keyword is used as a variable name in Python, it will result in a syntax error. They cannot be used as variable names or any other identifiers.

In [2]:
#Example --

if = 10

SyntaxError: invalid syntax (3997871497.py, line 3)

# Q.5. For what purpose def keyword is used?

In Python, the def keyword is used to define a function.

In [4]:
def show_names(name1, name2):
    return {
        name1,
        name2
    }

show_names('Himanshu', 'Sudhanshu')

{'Himanshu', 'Sudhanshu'}

# Q.6. What is the operation of this special character ‘\’?

The special character '\' in Python is known as the backslash or escape character. The backslash is used to represent special characters or escape sequences within string literals. Examples as below ---

\n newline character

\t tab character

\" double quotation mark within a string

\\ literal backslash character within a string

# Q.7. Give an example of the following conditions:
    
(i) Homogeneous list

(ii) Heterogeneous set

(iii) Homogeneous tuple

A homogeneous list is a list in which all elements have the same data type.

A heterogeneous set is a set that can contain elements of different data types.

A homogeneous tuple is a tuple in which all elements have the same data type.

In [6]:
my_numbers = [1, 2, 3, 4, 5]
my_set = {1, "apple", 3.14, True}
my_fruits = ("apple", "banana", "orange", "mango")

# Q.8. Explain the mutable and immutable data types with proper explanation & examples.

Mutable data types are those whose values can be modified after they are created. This means you can change individual elements or properties of a mutable object without creating a new object.

Example - List, Set, Dict


Immutable data types are those whose values cannot be changed after they are created. If we need to modify an immutable object, we will have to create a new object with the desired changes.

Example - Int, String, Tuple

In [11]:
#Mutable data types --- Examples --- As we change are changing the element of the list below 

my_list = [1, 2, 3]

my_list[0] = 4

my_list.append(5)

my_list

[4, 2, 3, 5]

In [10]:
my_set = {1, 2, 3}

my_set.add(4)

my_set

{1, 2, 3, 4}

In [13]:
my_dict = {'a': 1, 'b': 2, 'c': 3}

my_dict['b'] = 5

my_dict

{'a': 1, 'b': 5, 'c': 3}

In [16]:
# Immutable data types ---- Examples --- 

# We cannot modify the value of my_int directly
# Instead, we would need to create a new integer object with the desired value

my_int = 5
my_int

5

The below code works because even though int is an immutable data type, the code is not modifying the existing my_int object. Instead, it is creating a new int object with a different value and assigning it to the variable my_int.

In [17]:
my_int = 5
my_int = 7
my_int

7

In [21]:
my_str = "Hello"
new_str = my_str + " World"
new_str

'Hello World'

In [20]:
# We cannot modify my_str directly, but we can create a new string. Logic will be the same as Int data type

my_str = "Hello"
my_str = "World"
my_str

'World'

In [23]:
my_tuple = (1, 2, 3)
new_tuple = my_tuple + (4, 5)  ## as (4,5) is already defined as a tuple, it will be added to my_tuple
new_tuple

(1, 2, 3, 4, 5)

In [26]:
#Logic will be the same as Int data type

my_tuple = (1, 2, 3)
my_tuple = (4, 5)
my_tuple

(4, 5)

# Q.9. Write a code to create the given structure using only for loop.

    *
   ***
  *****
 *******
*********

In [27]:
for i in range(5):
    for j in range(5 - i - 1):
        print(" ", end="")
    for k in range(2 * i + 1):
        print("*", end="")
    print()

    *
   ***
  *****
 *******
*********

# Q.10. Write a code to create the given structure using while loop.

|||||||||

 |||||||
 
  |||||
  
   |||
   
    |

In [28]:
row = 9
spaces = 0

while row > 0:
    print(" " * spaces + "|" * row)
    row -= 2
    spaces += 1

|||||||||
 |||||||
  |||||
   |||
    |