1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

1. *
2. 'hello'
3. -87.8
4. -
5. /
6. +
7. 6


Ans. Values are 'hello', -87.8, 6 and 
Expressions are *, -, /, +

2. What is the difference between string and variable?

A string is a value but a variable is the one that refers to the string.
String is immutable i.e. if we try to change any character in a string, it will throw an error {‘str’ object does not support item assignment}. But, a variable’s value can be changed. Example -

In [2]:
firstName = 'Himanshu'

In [4]:
firstName[0]

'H'

In [5]:
#but if we try to change the value at any index, it will throw the below error --
firstName[0] = 'J'

TypeError: 'str' object does not support item assignment

3. Describe three different data types.

List - Indentation is []. A list is mutable and the elements stay in the pre-defined ordered way. A list can contain duplicate and multiple data type values.

Tuple - Indentation is (). A tuple is immutable and the elements stay in the pre-defined ordered way. A tuple can contain duplicate and multiple data type values. Can be used for storing passwords or any type of data that should be constant.

Dictionary - Indentation is {k1: V1, K2: V2}. A dictionary is mutable and ordered(after 3.7 version). Keys can not be duplicated. If we put duplicate keys then the only last one (key-value pair) will be counted in the created dict

In [10]:
#list
l = [1, 32, 2, 'himanshu', (23, 322, 45)]
l

[1, 32, 2, 'himanshu', (23, 322, 45)]

In [12]:
#tuple
t = (12, 34, 53, 'kumar', [323, 43, 234])
t

(12, 34, 53, 'kumar', [323, 43, 234])

In [13]:
#dictionary
d = {'firstName': 'Himanshu', 'lastName': 'Kumar', 'age': 25}
d

{'firstName': 'Himanshu', 'lastName': 'Kumar', 'age': 25}

In [16]:
d1 = {'name': 'Himanshu', 'name': 'kumar', 'age': 25}
d1

{'name': 'kumar', 'age': 25}

4. What is an expression made up of? What do all expressions do?

An expression is made up of operands, operators, and sometimes function calls, which are combined in a specific syntax to represent an evaluation.

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

An expression is a combination of values, variables, and operators that can be evaluated to produce a single value. Expressions can be as simple as a single variable or constant, or they can be more complex, involving multiple variables and operators.

A statement, on the other hand, is an instruction. It performs an action or controls the flow of the program. Unlike expressions, statements do not produce a value. A statement can include expressions.
Statements consists of loops, conditionals, or function/method calls. They determine the sequence of actions that the program should take.

In [20]:
spam = 10  #this is a statement as value 10 is being assigned to a variable 'spam'

In [21]:
#if we do some certain operations with this variable, this will be an expression as it will evaluate some value like below
spam + 1

11

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

value of bacon will be 22 itself because we are not reassigning the evaluated value to the variable 'bacon'

In [22]:
bacon = 22
bacon + 1 #reassignment not happening. Its just a temporary evaluation

23

In [23]:
bacon #value of bacon is still 22

22

In [26]:
#If we do bacon = bacon + 1 then the value of the variable 'bacon' will be 23
bacon = bacon + 1
bacon #value of bacon is 23 now

23

7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

They are strings so they will be concatenated
For 'spam' * 3 results will be the same as this expression means to concatenate 'spam' 3 times

In [29]:
'spam' + 'spamspam'

'spamspamspam'

In [32]:
'spam' * 3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

Variable names need to follow certain rules and conventions in any programming language. Also, eggs variable name is valid because it is starting with a letter and not a number. However, 100 starts with a number which is not supported in python.

Apart from this, a naming convention should be followed for better understanding of the code.

In [37]:
a100 = 10 #this is valid
a100

10

In [38]:
100 = 10 #even after having a look, this seems to be a complete disaster and also assignment of a number into a number is not possible in any programming language

SyntaxError: cannot assign to literal (4254712056.py, line 1)

In [39]:
eggs = 100 #valid and working

9. What three functions can be used to get the integer, floating-point number, or string version of a value?

There are 3 functions that can be used to convert values in integer, floating-point number, or string.
The functions are - int(), float(), str()

In [47]:
v1 = 10.5
integer_value = int(v1)
print(integer_value)  # Output: 10
print(type(integer_value)) # type is integer

10
<class 'int'>

In [46]:
v2 = "3.14"
float_value = float(v2)
print(float_value)  # Output: 3.14
print(type(float_value)) # type is float

3.14
<class 'float'>

In [45]:
v3 = 42
string_value = str(v3)
print(string_value)  # Output: "42"
print(type(string_value)) #type is string

42
<class 'str'>

10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

In this expression, we are trying to concatenate a string to an integer which is not possible in python. To fix this, we can firstly convert the integer to a string and then the expression will work

In [50]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'

I hope all the questions are answered correctly. Thank You 😊